#content form {
	font-size: 22px;
}

input[type=text], input[type=password],
input[type=email], input[type=date], select {
	width: 100%;
	height: 50px;
	position: relative;
	padding: 25px 10px 15px 15px;
	margin-top: 2px;
	margin-bottom: 2px;
	border-radius: 5px;
	border: 1px solid lightgray;
	vertical-align: bottom;
	text-overflow: ellipsis;
}

select {
	padding: 5px 5px 5px 3px;
}

.invalid-field {
	background-color: #ffb3b3;
}

.valid-field {
	background-color: white;
}

input[type=date] {
	padding: 10px 0px 0px 15px;
}

input[type=date]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
	cursor: pointer;
	padding-bottom: 15px;
	padding-top: 10px;
	padding-right: 10px;
	background-color: white;
	color: gray;
}

input[type=date][class=invalid-field]::-webkit-calendar-picker-indicator {
	background-color: #ffb3b3;
}

input[type=text] + label, input[type=password] + label, 
input[type=email] + label, input[type=date] + label {
	position: absolute;
	color: gray;
	opacity: 0.8;
	top: -27px;
	left: 5px;
	font-size: 12px;
	font-weight: bold;
	z-index: 1;
	white-space: nowrap;
}

input:focus {
	box-shadow: 0px 0px 2px 2px #80ff00;
	outline-width: 0px;
}

.buttons {
	margin: auto;
	width: 100%;
}

.buttons button {
	margin: 5px;
	margin-top: 10px;
	border-radius: 5px;
	width: 100px;
	height: 40px;
	background-color: darkcyan;
	color: white;
}

.buttons button:hover {
	background-color: chartreuse;
	color: darkcyan;
	cursor: pointer;
}

label {
	font-weight: normal;
}

.fa-check {
	color: #00cc00;
	font-size: 20px;
}

.popupicon {
	position: relative;
	display: flex;
	visibility: hidden;
	z-index: 1;
	width: 100%;
}

.popupicon .fa-check {
	position: absolute;
	z-index: 1;
	padding: 5px;
	opacity: 0.4;
	right: 5px;
	bottom: 10px;
}

#city ~ .popupicon .fa-check {
	bottom: 11px;
}

.form-field.col-xs-9 {
	padding: 0;
}

#city ~ .popupicon {
	display: inline;
}

.valid-field ~ .popupicon {
	visibility: visible;
}

.popup {
	position: relative;
	display: block;
	visibility: hidden;
	z-index: 1;
	width: 100%;
}

.popup > .requirements {
	position: absolute;
}

.popup > .requirements::after {
	content: "";
	position: absolute;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
	top: 100%;
	left: 5%;
}

.requirements {
	font-size: 20px;
	color: white;
	background-color: rgba(47, 79, 79, 0.7);
	padding: 5px;
	border-radius: 5px;
	z-index: 1;
	width: 100%;
	white-space: normal;
	margin-bottom: 2px;
	bottom: 60px;
}

:not(.valid-field):focus ~ .popup {
	visibility: visible;
	animation: fadeIn 1s;
	-webkit-animation: fadeIn 1s;
	-moz-animation: fadeIn 1s;
	-o-animation: fadeIn 1s;
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@-webkit-keyframes {
	from {opacity: 0;}
	to {opacity: 1;}
}

@-moz-keyframes {
	from {opacity: 0;}
	to {opacity: 1;}
}

@-o-keyframes {
	from {opacity: 0;}
	to {opacity: 1;}
}

.container-fluid {
	white-space: nowrap;
}

:not(.one-row) .form-field {
	position: relative;
	display: inline;
	height: 100%;
	width: 100%;
}

.one-row > {
	padding-bottom: 0;
}

/*field after one-row elements goes to next line*/
.one-row + .form-field {
	display: table;
}

.one-row + .form-field label {
	top: 0px;
}

/*div .one-row {
	position: relative;
	display: inline;
	height: 100%;
	padding: 0;
}*/

.form-col {
	margin-bottom: 15px;
}

.form-group > [class*="col-xs"] {
	padding: 0;
}

/*remove excess padding from row fields*/
.one-row > div {
	padding: 0;
}

/*last field in the row has no right padding*/
.one-row > :not(:last-child) {
	padding-right: 4px;
}

/*add space after last radio button*/
#marriage {
	padding-bottom: 17px;
}

/*
reformat radio buttons
*/

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radio-button {
  position: absolute;
  top: 2px;
  left: 0px;
  height: 22px;
  width: 22px;
  background-color: #cccccc;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .radio-button {
  background-color: #b3b3b3;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .radio-button {
  background-color: darkcyan;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-button:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .radio-button:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .radio-button:after {
 	top: 7px;
	left: 7px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.invalid-field ~ .radio-button {
	background-color: rgba(255, 0, 0, 0.3);
}